<% include ./partials/adminheader %>

<div class="prison-row">
<div class="row">
  <% for(var counter=0; counter<data.length; counter++) { %>
  <div class="col-md-4" style="width:400px; margin-top:1%; margin-left:5px;"><form method="POST" action="/prison/completeRegistration">
      <p class="h4 text-center mb-4"><%= data[counter].first_name%> Profile</p>

      <!-- Default input name -->

  <!-- Basic dropdown -->
      <input type="text" name="id" value=" <%=data[counter].id %>" class="suppodely-hidden" >
      <select class="dropdown-qualifications" name="educationLevel" disabled>
        <option <% if (data[counter].education_level==2){ %>
            selected
            <%}%> value="1">Below High School</option>

        <option <% if (data[counter].education_level==1){ %>
            selected
            <%}%> value="2">High School</option>

        <option <% if (data[counter].education_level==3){ %>
            selected
            <%}%> value="3">College</option>

        <option <% if (data[counter].education_level==4){ %>
            selected
            <%}%> value="4">Graduate School & Above</option>
      </select>
  <br>

      <!-- Default input email -->
      <label for="defaultFormContactEmailEx" class="grey-text"> Enter The institution</label>
      <input type="text" id="defaultFormContactEmailEx" class="form-control" name="institution" value= "<%= data[counter].institution %>" placeholder="Institution" disabled>
      <br>

      <!-- Default input subject -->
      <label for="defaultFormContactSubjectEx" class="grey-text">Skill Type</label>
      <input type="text" id="defaultFormContactSubjectEx" class="form-control" name="skillType" value= "<%= data[counter].skill_type %>" placeholder="Skill Type" disabled>

      <label for="defaultFormContactSubjectEx" class="grey-text">Term Sentence</label>
      <input type="text" id="defaultFormContactSubjectEx" class="form-control" name="termSentence" value= "<%= data[counter].term_sentence %>">

      <label for="defaultFormContactSubjectEx" class="grey-text">Birth Date</label>
      <input type="date" id="defaultFormContactSubjectEx" class="form-control" name="birthDate" value= "<%= data[counter].birth_date %>">

      <label for="defaultFormContactSubjectEx" class="grey-text">Sentence Start Date</label>
      <input type="date" id="defaultFormContactSubjectEx" class="form-control" name="sentenceStartDate" value= "<%= data[counter].sentence_start_date %>">

      <br>
      <select class="dropdown-qualifications" name="rating" >
        <option <% if (data[counter].rating==1){ %>
            selected
            <%}%> value="1">Excellent Behaviour</option>

        <option <% if (data[counter].rating==2){ %>
            selected
            <%}%> value="2">Good Behaviour</option>

        <option <% if (data[counter].rating==3){ %>
            selected
            <%}%> value="3">Fair Behaviour</option>

        <option <% if (data[counter].rating==4){ %>
            selected
            <%}%> value="4">Bad Behaviour</option>
      </select>

      <div class="text-center mt-4">
          <input type="submit"  class="btn btn-outline-warning" value="Approve <%= data[counter].first_name%>">
      </div>
  </form>  </div>
  <% } %>


</div>
</div>

<% include ./partials/adminfooter %>
